Chapter6/Code06/Web06Client/App_WebReferences/Proxies/BookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookResult" type="tns:BookDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BookDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BookID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Publisher" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PublicationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LowestPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ListPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ScanDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Review" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Binding" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Authors" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="Subjects" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBookSoapIn">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="GetBookSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:portType name="BookServiceSoap">
    <wsdl:operation name="GetBook">
      <wsdl:input message="tns:GetBookSoapIn" />
      <wsdl:output message="tns:GetBookSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookServiceSoap" type="tns:BookServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://tempuri.org/GetBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookServiceSoap12" type="tns:BookServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBook">
      <soap12:operation soapAction="http://tempuri.org/GetBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BookServiceSoap" binding="tns:BookServiceSoap">
      <soap:address location="http://localhost/Web06/BookService.asmx" />
    </wsdl:port>
    <wsdl:port name="BookServiceSoap12" binding="tns:BookServiceSoap12">
      <soap12:address location="http://localhost/Web06/BookService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>